{
  "openapi": "3.0.0",
  "info": {
    "title": "incident.io",
    "description": "This is the API reference for incident.io.\n\nIt documents available API endpoints, provides examples of how to use it, and\ninstructions around things like authentication and error handling.\n\nThe API is hosted at:\n\n- https://api.incident.io/\n\n[app]: https://app.incident.io/\n\nAnd you will need to create an access token via your [incident.io\ndashboard][app] to make requests.\n\n# Making requests\n\nHere are the key concepts required to make requests to the incident.io API.\n\n## Authentication\n\nFor all requests made to the incident.io API, you'll need an API key.\n\n[app/api-keys]: https://app.incident.io/settings/api-keys\n\nTo create an API key, head to the incident dashboard and visit [API\nkeys][app/api-keys]. When you create the key, you'll be able to choose what\nactions it can take for your account: choose carefully, as those roles can only\nbe set when you first create the key. We'll only show you the token once, so\nmake sure you store it somewhere safe.\n\nOnce you have the key, you should make requests to the API that set the\n`Authorization` request header using a \"Bearer\" authentication scheme:\n\n```\nAuthorization: Bearer <YOUR_ACCESS_TOKEN>\n```\n\n## Errors\n\nWe use standard HTTP response codes to indicate the status or failure of API\nrequests.\n\nThe API response body will be JSON, and contain more detailed information on the\nnature of the error.\n\nAn example error when a request is made without an API key:\n\n```json\n{\n  \"type\": \"authentication_error\",\n  \"status\": 401,\n  \"request_id\": \"8e3cc412-b49d-4957-9073-2c19d2c61804\",\n  \"errors\": [\n    {\n      \"code\": \"missing_authorization_material\",\n      \"message\": \"No authorization material provided in request\"\n    }\n  ]\n}\n```\n\nNote that the error:\n\n- Contains the HTTP status (`401`)\n- References the type of error (`authentication_error`)\n- Includes a `request_id` that can be provided to incident.io support to help\n\tdebug questions with your API request\n- Provides a list of individual errors, which go into detail about why the error\n\toccurred\n\nThe most common error will be a 422 Validation Error, which is returned when the\nrequest was rejected due to failing validations.\n\nThese errors look like this:\n\n```json\n{\n  \"type\": \"validation_error\",\n  \"status\": 422,\n  \"request_id\": \"631766c4-4afd-4803-997c-cd700928fa4b\",\n  \"errors\": [\n    {\n      \"code\": \"is_required\",\n      \"message\": \"A severity is required to open an incident\",\n      \"source\": {\n        \"field\": \"severity_id\"\n      }\n    }\n  ]\n}\n```\n\nThis error is caused by not providing a severity identifier, which should be at\nthe `severity_id` field of the request payload. Errors like these can be mapped to\nforms, should you be integrating with the API from a user-interface.\n",
    "version": "1.0.0"
  },
  "paths": {
    "/v1/actions": {
      "get": {
        "tags": ["Actions"],
        "summary": "List Actions",
        "description": "List all actions for an organisation.",
        "operationId": "Actions#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find actions related to this incident",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_follow_up",
            "in": "query",
            "description": "Filter to actions marked as being follow up actions",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "exclude_test_incidents",
            "in": "query",
            "description": "Don't return actions attached to test incidents",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/actions/{id}": {
      "get": {
        "tags": ["Actions"],
        "summary": "Show Actions",
        "description": "Get a single incident action.",
        "operationId": "Actions#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the action",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/ActionsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_fields": {
      "get": {
        "tags": ["Custom Fields"],
        "summary": "List Custom Fields",
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/custom_fields/{id}": {
      "get": {
        "tags": ["Custom Fields"],
        "summary": "Show Custom Fields",
        "description": "Get a single custom field.",
        "operationId": "Custom Fields#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_roles": {
      "get": {
        "tags": ["Incident Roles"],
        "summary": "List Incident Roles",
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incident_roles/{id}": {
      "get": {
        "tags": ["Incident Roles"],
        "summary": "Show Incident Roles",
        "description": "Get a single incident role.",
        "operationId": "Incident Roles#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentRolesShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incidents": {
      "get": {
        "tags": ["Incidents"],
        "summary": "List Incidents",
        "description": "List all incidents for an organisation.",
        "operationId": "Incidents#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 25
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "An incident's ID. This endpoint will return a list of incidents created after this incident.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter for incidents in these statuses",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      },
      "post": {
        "tags": ["Incidents"],
        "summary": "Create Incidents",
        "description": "Create a new incident.",
        "operationId": "Incidents#Create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            },
            "application/gob": {
              "schema": {
                "$ref": "#/components/schemas/IncidentsCreateRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsCreateResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/incidents/{id}": {
      "get": {
        "tags": ["Incidents"],
        "summary": "Show Incidents",
        "description": "Get a single incident.",
        "operationId": "Incidents#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the incident",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/IncidentsShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/severities": {
      "get": {
        "tags": ["Severities"],
        "summary": "List Severities",
        "description": "List all incident severities for an organisation.",
        "operationId": "Severities#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesListResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    },
    "/v1/severities/{id}": {
      "get": {
        "tags": ["Severities"],
        "summary": "Show Severities",
        "description": "Get a single incident severity.",
        "operationId": "Severities#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              },
              "application/gob": {
                "schema": {
                  "$ref": "#/components/schemas/SeveritiesShowResponseBody"
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.incident.io"
          }
        ]
      }
    }
  },
  "tags": [
    {
      "name": "Actions",
      "description": "Manage incident actions.\n\nIncidents have two types of actions associated to them:\n\n- Actions, used during an incident response as ephemeral todo lists\n- Follow-ups, actions which are for after the incident and can be exported to external\n\tissue trackers\n\nYou can manage actions in the incident Slack channel with <code>/incident actions</code>, or on\nthe incident homepage.\n\nExporting follow-ups to external issue trackers can be done in the incident homepage.\n"
    },
    {
      "name": "Custom Fields",
      "description": "Manage custom fields.\n\nCustom fields are used to attach metadata to incidents, which you can use when searching\nfor incidents in the dashboard, triggering workflows, building announcement rules or for\nyour own data needs.\n\nEach field has a type:\n\n- Single-select, single value selected from a predefined list of options (ie. Incident Type)\n- Multi-select, as above but you can pick more than one option (ie. Teams)\n- Text, freeform text field (ie. Customer ID)\n- Link, link URL that is synced to Slack bookmarks on the incident channel (ie. External Status Page)\n- Number, integer or fractional numbers (ie. Customers Affected)\n\nWe may add more custom field types in the future - we'd love to hear any other types you'd like to use!\n"
    },
    {
      "name": "Severities",
      "description": "Manage incident severities.\n\nEach incident has a severity, picked from one of the severities configured in your\norganisations settings.\n\nSeverities help categorise incidents, and communicate urgency/impact. You can use\nseverities when filtering incidents in the dashboard, and in workflows and announcement\nrules.\n"
    },
    {
      "name": "Incident Roles",
      "description": "Manage incident roles.\n\nDuring an incident, you can assign responders to one of the incident roles that are\nconfigured in your organisation settings.\n\nEvery organisation will have a special 'lead' role, which signifies the incident lead or\ncommander. This role cannot be deleted, but can be renamed in the incident.io dashboard.\n"
    },
    {
      "name": "Incidents",
      "description": "Create and read incidents.\n\nIncidents are a core resource, on which many other resources (actions, etc) are created.\n\nCare should be taken around these endpoints, as automation that creates duplicate\nincidents can be distracting, and impact reporting.\n"
    }
  ],
  "servers": [
    {
      "url": "//api.incident.io"
    }
  ],
  "components": {
    "schemas": {
      "APIKeyResponseBody": {
        "title": "APIKeyResponseBody",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for this API key",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "The name of the API key, for the user's reference",
            "example": "My test API key"
          }
        },
        "example": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "My test API key"
        },
        "required": ["id", "name", "roles", "created_by"]
      },
      "ActionResponseBody": {
        "title": "ActionResponseBody",
        "type": "object",
        "properties": {
          "completed_at": {
            "type": "string",
            "description": "When the action was completed",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "description": "When the action was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "Description of the action",
            "example": "Call the fire brigade"
          },
          "external_issue_reference": {
            "$ref": "#/components/schemas/ExternalIssueReferenceResponseBody"
          },
          "follow_up": {
            "type": "boolean",
            "description": "Whether an action is marked as follow-up",
            "example": true
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the action",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "incident_id": {
            "type": "string",
            "description": "Unique identifier of the incident the action belongs to",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "status": {
            "type": "string",
            "description": "Status of the action",
            "example": "outstanding",
            "enum": ["outstanding", "completed", "deleted", "not_doing"]
          },
          "updated_at": {
            "type": "string",
            "description": "When the action was last updated",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          }
        },
        "example": {
          "completed_at": "2021-08-17T13:28:57.801578Z",
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Call the fire brigade",
          "external_issue_reference": {
            "issue_name": "INC-123",
            "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
            "provider": "linear"
          },
          "follow_up": true,
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "status": "outstanding",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        },
        "required": [
          "id",
          "organisation_id",
          "incident_id",
          "description",
          "status",
          "follow_up",
          "created_at",
          "updated_at"
        ]
      },
      "ActionsListResponseBody": {
        "title": "ActionsListResponseBody",
        "type": "object",
        "properties": {
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActionResponseBody"
            },
            "example": [
              {
                "completed_at": "2021-08-17T13:28:57.801578Z",
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Call the fire brigade",
                "external_issue_reference": {
                  "issue_name": "INC-123",
                  "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                  "provider": "linear"
                },
                "follow_up": true,
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "status": "outstanding",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "completed_at": "2021-08-17T13:28:57.801578Z",
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Call the fire brigade",
                "external_issue_reference": {
                  "issue_name": "INC-123",
                  "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                  "provider": "linear"
                },
                "follow_up": true,
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "status": "outstanding",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "completed_at": "2021-08-17T13:28:57.801578Z",
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Call the fire brigade",
                "external_issue_reference": {
                  "issue_name": "INC-123",
                  "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                  "provider": "linear"
                },
                "follow_up": true,
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "status": "outstanding",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            ]
          }
        },
        "example": {
          "actions": [
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "linear"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "required": ["actions"]
      },
      "ActionsShowResponseBody": {
        "title": "ActionsShowResponseBody",
        "type": "object",
        "properties": {
          "action": {
            "$ref": "#/components/schemas/ActionResponseBody"
          }
        },
        "example": {
          "action": {
            "completed_at": "2021-08-17T13:28:57.801578Z",
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Call the fire brigade",
            "external_issue_reference": {
              "issue_name": "INC-123",
              "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
              "provider": "linear"
            },
            "follow_up": true,
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "status": "outstanding",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": ["action"]
      },
      "ActorResponseBody": {
        "title": "ActorResponseBody",
        "type": "object",
        "properties": {
          "api_key": {
            "$ref": "#/components/schemas/APIKeyResponseBody"
          },
          "user": {
            "$ref": "#/components/schemas/UserResponseBody"
          }
        },
        "example": {
          "api_key": {
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "My test API key"
          },
          "user": {
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Lisa Karlin Curtis",
            "role": "viewer"
          }
        }
      },
      "CustomFieldEntryPayloadRequestBody": {
        "title": "CustomFieldEntryPayloadRequestBody",
        "type": "object",
        "properties": {
          "custom_field_id": {
            "type": "string",
            "description": "ID of the custom field this entry is linked against",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValuePayloadRequestBody"
            },
            "description": "List of values to associate with this entry",
            "example": [
              {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_text": "This is my text field, I hope you like it"
              },
              {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_text": "This is my text field, I hope you like it"
              },
              {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "value_text": "This is my text field, I hope you like it"
              }
            ]
          }
        },
        "example": {
          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "values": [
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "value_text": "This is my text field, I hope you like it"
            }
          ]
        },
        "required": ["custom_field_id", "values"]
      },
      "CustomFieldEntryResponseBody": {
        "title": "CustomFieldEntryResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldTypeInfoResponseBody"
          },
          "values": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldValueResponseBody"
            },
            "description": "List of custom field values set on this entry",
            "example": [
              {
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option": {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                "value_text": "This is my text field, I hope you like it"
              },
              {
                "value_link": "https://google.com/",
                "value_numeric": "123.456",
                "value_option": {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                "value_text": "This is my text field, I hope you like it"
              }
            ]
          }
        },
        "example": {
          "custom_field": {
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          },
          "values": [
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            },
            {
              "value_link": "https://google.com/",
              "value_numeric": "123.456",
              "value_option": {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              "value_text": "This is my text field, I hope you like it"
            }
          ]
        },
        "required": ["custom_field", "values"]
      },
      "CustomFieldOptionResponseBody": {
        "title": "CustomFieldOptionResponseBody",
        "type": "object",
        "properties": {
          "custom_field_id": {
            "type": "string",
            "description": "ID of the custom field this option belongs to",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field option",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "sort_key": {
            "type": "integer",
            "description": "Sort key used to order the custom field options correctly",
            "example": 10,
            "format": "int64"
          },
          "value": {
            "type": "string",
            "description": "Human readable name for the custom field option",
            "example": "Product",
            "maxLength": 50
          }
        },
        "example": {
          "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "sort_key": 10,
          "value": "Product"
        },
        "required": ["id", "custom_field_id", "value", "sort_key"]
      },
      "CustomFieldResponseBody": {
        "title": "CustomFieldResponseBody",
        "type": "object",
        "properties": {
          "created_at": {
            "type": "string",
            "description": "When the action was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "field_type": {
            "type": "string",
            "description": "Type of custom field",
            "example": "single_select",
            "enum": ["single_select", "multi_select", "text", "link", "numeric"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
            },
            "description": "What options are available for this custom field, if this field has options",
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          },
          "require_before_closure": {
            "type": "boolean",
            "description": "Whether a custom field should be required in the incident close modal",
            "example": true
          },
          "require_before_creation": {
            "type": "boolean",
            "description": "Whether a custom field should be required in the incident creation modal",
            "example": true
          },
          "show_before_closure": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident close modal",
            "example": true
          },
          "show_before_creation": {
            "type": "boolean",
            "description": "Whether a custom field should be shown in the incident creation modal",
            "example": true
          },
          "updated_at": {
            "type": "string",
            "description": "When the action was last updated",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          }
        },
        "example": {
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Which team is impacted by this issue",
          "field_type": "single_select",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Affected Team",
          "options": [
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            }
          ],
          "require_before_closure": true,
          "require_before_creation": true,
          "show_before_closure": true,
          "show_before_creation": true,
          "updated_at": "2021-08-17T13:28:57.801578Z"
        },
        "required": [
          "id",
          "organisation_id",
          "name",
          "description",
          "field_type",
          "show_before_creation",
          "require_before_creation",
          "show_before_closure",
          "require_before_closure",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldTypeInfoResponseBody": {
        "title": "CustomFieldTypeInfoResponseBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Description of the custom field",
            "example": "Which team is impacted by this issue"
          },
          "field_type": {
            "type": "string",
            "description": "Type of custom field",
            "example": "single_select",
            "enum": ["single_select", "multi_select", "text", "link", "numeric"]
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "name": {
            "type": "string",
            "description": "Human readable name for the custom field",
            "example": "Affected Team",
            "maxLength": 50
          },
          "options": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
            },
            "description": "What options are available for this custom field, if this field has options",
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ]
          }
        },
        "example": {
          "description": "Which team is impacted by this issue",
          "field_type": "single_select",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Affected Team",
          "options": [
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            },
            {
              "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "sort_key": 10,
              "value": "Product"
            }
          ]
        },
        "required": [
          "id",
          "organisation_id",
          "name",
          "description",
          "field_type",
          "show_before_creation",
          "require_before_creation",
          "show_before_closure",
          "require_before_closure",
          "options",
          "created_at",
          "updated_at"
        ]
      },
      "CustomFieldValuePayloadRequestBody": {
        "title": "CustomFieldValuePayloadRequestBody",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the custom field value",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "value_link": {
            "type": "string",
            "description": "Link value",
            "example": "https://google.com/"
          },
          "value_numeric": {
            "type": "string",
            "description": "Numeric value",
            "example": "123.456"
          },
          "value_option_id": {
            "type": "string",
            "description": "ID of the custom field option",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "value_text": {
            "type": "string",
            "description": "Text value",
            "example": "This is my text field, I hope you like it"
          }
        },
        "example": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "value_link": "https://google.com/",
          "value_numeric": "123.456",
          "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "value_text": "This is my text field, I hope you like it"
        }
      },
      "CustomFieldValueResponseBody": {
        "title": "CustomFieldValueResponseBody",
        "type": "object",
        "properties": {
          "value_link": {
            "type": "string",
            "description": "Link value",
            "example": "https://google.com/"
          },
          "value_numeric": {
            "type": "string",
            "description": "Numeric value",
            "example": "123.456"
          },
          "value_option": {
            "$ref": "#/components/schemas/CustomFieldOptionResponseBody"
          },
          "value_text": {
            "type": "string",
            "description": "Text value",
            "example": "This is my text field, I hope you like it"
          }
        },
        "example": {
          "value_link": "https://google.com/",
          "value_numeric": "123.456",
          "value_option": {
            "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "sort_key": 10,
            "value": "Product"
          },
          "value_text": "This is my text field, I hope you like it"
        }
      },
      "CustomFieldsListResponseBody": {
        "title": "CustomFieldsListResponseBody",
        "type": "object",
        "properties": {
          "custom_fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldResponseBody"
            },
            "example": [
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "require_before_closure": true,
                "require_before_creation": true,
                "show_before_closure": true,
                "show_before_creation": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "require_before_closure": true,
                "require_before_creation": true,
                "show_before_closure": true,
                "show_before_creation": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ],
                "require_before_closure": true,
                "require_before_creation": true,
                "show_before_closure": true,
                "show_before_creation": true,
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            ]
          }
        },
        "example": {
          "custom_fields": [
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "require_before_closure": true,
              "require_before_creation": true,
              "show_before_closure": true,
              "show_before_creation": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "require_before_closure": true,
              "require_before_creation": true,
              "show_before_closure": true,
              "show_before_creation": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "require_before_closure": true,
              "require_before_creation": true,
              "show_before_closure": true,
              "show_before_creation": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Which team is impacted by this issue",
              "field_type": "single_select",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Affected Team",
              "options": [
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                },
                {
                  "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "sort_key": 10,
                  "value": "Product"
                }
              ],
              "require_before_closure": true,
              "require_before_creation": true,
              "show_before_closure": true,
              "show_before_creation": true,
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "required": ["custom_fields"]
      },
      "CustomFieldsShowResponseBody": {
        "title": "CustomFieldsShowResponseBody",
        "type": "object",
        "properties": {
          "custom_field": {
            "$ref": "#/components/schemas/CustomFieldResponseBody"
          }
        },
        "example": {
          "custom_field": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Which team is impacted by this issue",
            "field_type": "single_select",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Affected Team",
            "options": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "sort_key": 10,
                "value": "Product"
              }
            ],
            "require_before_closure": true,
            "require_before_creation": true,
            "show_before_closure": true,
            "show_before_creation": true,
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": ["custom_field"]
      },
      "ExternalIssueReferenceResponseBody": {
        "title": "ExternalIssueReferenceResponseBody",
        "type": "object",
        "properties": {
          "issue_name": {
            "type": "string",
            "description": "Human readable ID for the issue",
            "example": "INC-123"
          },
          "issue_permalink": {
            "type": "string",
            "description": "URL linking directly to the action in the issue tracker",
            "example": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up"
          },
          "provider": {
            "type": "string",
            "description": "ID of the issue tracker provider",
            "example": "linear",
            "enum": ["linear", "jira", "jira_server", "github", "clubhouse"]
          }
        },
        "example": {
          "issue_name": "INC-123",
          "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
          "provider": "linear"
        },
        "required": ["provider", "issue_name", "issue_permalink"]
      },
      "IncidentResponseBody": {
        "title": "IncidentResponseBody",
        "type": "object",
        "properties": {
          "call_url": {
            "type": "string",
            "description": "The call URL attached to this incident",
            "example": "https://zoom.us/foo"
          },
          "closed_at": {
            "type": "string",
            "description": "When the incident was closed",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "description": "When the incident was created",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "custom_field_entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntryResponseBody"
            },
            "description": "Custom field entries for this incident",
            "example": [
              {
                "custom_field": {
                  "description": "Which team is impacted by this issue",
                  "field_type": "single_select",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Affected Team",
                  "options": [
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    }
                  ]
                },
                "values": [
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              },
              {
                "custom_field": {
                  "description": "Which team is impacted by this issue",
                  "field_type": "single_select",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Affected Team",
                  "options": [
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    }
                  ]
                },
                "values": [
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option": {
                      "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "sort_key": 10,
                      "value": "Product"
                    },
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              }
            ]
          },
          "external_id": {
            "type": "integer",
            "description": "External identifier for the incident - often displayed with an INC- prefix",
            "example": 123,
            "format": "int64"
          },
          "fixed_at": {
            "type": "string",
            "description": "When the incident was fixed",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the incident",
            "example": "01FDAG4SAP5TYPT98WGR2N7W91"
          },
          "identified_at": {
            "type": "string",
            "description": "When the incident was identified",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "name": {
            "type": "string",
            "description": "Explanation of the incident",
            "example": "Our database is sad"
          },
          "postmortem_document_url": {
            "type": "string",
            "description": "Description of the incident",
            "example": "https://docs.google.com/my_doc_id"
          },
          "reported_at": {
            "type": "string",
            "description": "When the incident was reported",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "reporter": {
            "$ref": "#/components/schemas/ActorResponseBody"
          },
          "roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncidentRoleAssignmentResponseBody"
            },
            "description": "A list of who is assigned to each role for this incident",
            "example": [
              {
                "assignee": {
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Lisa Karlin Curtis",
                  "role": "viewer"
                },
                "role": {
                  "created_at": "2021-08-17T13:28:57.801578Z",
                  "description": "The person currently coordinating the incident",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                  "lead_role": true,
                  "name": "Incident Lead",
                  "required": true,
                  "shortform": "lead",
                  "updated_at": "2021-08-17T13:28:57.801578Z"
                }
              },
              {
                "assignee": {
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Lisa Karlin Curtis",
                  "role": "viewer"
                },
                "role": {
                  "created_at": "2021-08-17T13:28:57.801578Z",
                  "description": "The person currently coordinating the incident",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                  "lead_role": true,
                  "name": "Incident Lead",
                  "required": true,
                  "shortform": "lead",
                  "updated_at": "2021-08-17T13:28:57.801578Z"
                }
              },
              {
                "assignee": {
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "name": "Lisa Karlin Curtis",
                  "role": "viewer"
                },
                "role": {
                  "created_at": "2021-08-17T13:28:57.801578Z",
                  "description": "The person currently coordinating the incident",
                  "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                  "lead_role": true,
                  "name": "Incident Lead",
                  "required": true,
                  "shortform": "lead",
                  "updated_at": "2021-08-17T13:28:57.801578Z"
                }
              }
            ]
          },
          "severity": {
            "$ref": "#/components/schemas/SeverityResponseBody"
          },
          "slack_channel_name": {
            "type": "string",
            "description": "Name of the slack channel",
            "example": "inc-165-green-parrot"
          },
          "status": {
            "type": "string",
            "description": "Current status of the incident",
            "example": "investigating",
            "enum": ["investigating", "fixing", "monitoring", "closed"]
          },
          "summary": {
            "type": "string",
            "description": "Detailed description of the incident",
            "example": "Our database is really really sad, and we don't know why yet."
          },
          "summary_updated_at": {
            "type": "string",
            "description": "When the summary was last updated",
            "example": "2021-08-17T13:28:57.801578Z"
          },
          "type": {
            "type": "string",
            "description": "Whether the incident is real, a test, or a tutorial",
            "example": "real",
            "enum": ["real", "test", "tutorial"]
          },
          "updated_at": {
            "type": "string",
            "description": "When the incident was last updated",
            "example": "2021-08-17T13:28:57.801578Z",
            "format": "date-time"
          },
          "visibility": {
            "type": "string",
            "description": "Whether the incident is public or private",
            "example": "public",
            "enum": ["public", "private"]
          }
        },
        "example": {
          "call_url": "https://zoom.us/foo",
          "closed_at": "2021-08-17T13:28:57.801578Z",
          "created_at": "2021-08-17T13:28:57.801578Z",
          "custom_field_entries": [
            {
              "custom_field": {
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ]
              },
              "values": [
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                }
              ]
            },
            {
              "custom_field": {
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ]
              },
              "values": [
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                }
              ]
            },
            {
              "custom_field": {
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ]
              },
              "values": [
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                }
              ]
            },
            {
              "custom_field": {
                "description": "Which team is impacted by this issue",
                "field_type": "single_select",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Affected Team",
                "options": [
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  }
                ]
              },
              "values": [
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                },
                {
                  "value_link": "https://google.com/",
                  "value_numeric": "123.456",
                  "value_option": {
                    "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "sort_key": 10,
                    "value": "Product"
                  },
                  "value_text": "This is my text field, I hope you like it"
                }
              ]
            }
          ],
          "external_id": 123,
          "fixed_at": "2021-08-17T13:28:57.801578Z",
          "id": "01FDAG4SAP5TYPT98WGR2N7W91",
          "identified_at": "2021-08-17T13:28:57.801578Z",
          "name": "Our database is sad",
          "postmortem_document_url": "https://docs.google.com/my_doc_id",
          "reported_at": "2021-08-17T13:28:57.801578Z",
          "reporter": {
            "api_key": {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "My test API key"
            },
            "user": {
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Lisa Karlin Curtis",
              "role": "viewer"
            }
          },
          "roles": [
            {
              "assignee": {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Lisa Karlin Curtis",
                "role": "viewer"
              },
              "role": {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            },
            {
              "assignee": {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Lisa Karlin Curtis",
                "role": "viewer"
              },
              "role": {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            },
            {
              "assignee": {
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Lisa Karlin Curtis",
                "role": "viewer"
              },
              "role": {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            }
          ],
          "severity": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "It's not really that bad, everyone chill",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Minor",
            "rank": 1,
            "updated_at": "2021-08-17T13:28:57.801578Z"
          },
          "slack_channel_name": "inc-165-green-parrot",
          "status": "investigating",
          "summary": "Our database is really really sad, and we don't know why yet.",
          "summary_updated_at": "2021-08-17T13:28:57.801578Z",
          "type": "real",
          "updated_at": "2021-08-17T13:28:57.801578Z",
          "visibility": "public"
        },
        "required": [
          "id",
          "external_id",
          "name",
          "status",
          "idempotency_key",
          "visibility",
          "type",
          "reported_at",
          "organisation_id",
          "reporter",
          "last_activity_at",
          "severity",
          "roles",
          "custom_field_entries",
          "active_participants",
          "passive_participants",
          "created_at",
          "updated_at"
        ]
      },
      "IncidentRoleAssignmentResponseBody": {
        "title": "IncidentRoleAssignmentResponseBody",
        "type": "object",
        "properties": {
          "assignee": {
            "$ref": "#/components/schemas/UserResponseBody"
          },
          "role": {
            "$ref": "#/components/schemas/IncidentRoleResponseBody"
          }
        },
        "example": {
          "assignee": {
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Lisa Karlin Curtis",
            "role": "viewer"
          },
          "role": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "The person currently coordinating the incident",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
            "lead_role": true,
            "name": "Incident Lead",
            "required": true,
            "shortform": "lead",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": ["role", "assignee"]
      },
      "IncidentRoleResponseBody": {
        "title": "IncidentRoleResponseBody",
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "Describes the purpose of the role",
            "example": "The person currently coordinating the incident",
            "minLength": 1
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the role",
            "example": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "instructions": {
            "type": "string",
            "description": "Provided to whoever is nominated for the role",
            "example": "Take point on the incident; Make sure people are clear on responsibilities",
            "minLength": 1
          },
          "lead_role": {
            "type": "boolean",
            "description": "Whether this role is the special lead role",
            "example": true
          },
          "name": {
            "type": "string",
            "description": "Human readable name of the incident role",
            "example": "Incident Lead",
            "minLength": 1
          },
          "required": {
            "type": "boolean",
            "description": "Whether incident require this role to be set",
            "example": true
          },
          "shortform": {
            "type": "string",
            "description": "Short human readable name for Slack",
            "example": "lead",
            "minLength": 1
          }
        },
        "example": {
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "The person currently coordinating the incident",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
          "lead_role": true,
          "name": "Incident Lead",
          "required": true,
          "shortform": "lead",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        },
        "required": [
          "id",
          "name",
          "description",
          "instructions",
          "shortform",
          "required",
          "lead_role"
        ]
      },
      "IncidentRolesListResponseBody": {
        "title": "IncidentRolesListResponseBody",
        "type": "object",
        "properties": {
          "incident_roles": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IncidentRoleResponseBody"
            },
            "example": [
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              },
              {
                "created_at": "2021-08-17T13:28:57.801578Z",
                "description": "The person currently coordinating the incident",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
                "lead_role": true,
                "name": "Incident Lead",
                "required": true,
                "shortform": "lead",
                "updated_at": "2021-08-17T13:28:57.801578Z"
              }
            ]
          }
        },
        "example": {
          "incident_roles": [
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "The person currently coordinating the incident",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
              "lead_role": true,
              "name": "Incident Lead",
              "required": true,
              "shortform": "lead",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "The person currently coordinating the incident",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
              "lead_role": true,
              "name": "Incident Lead",
              "required": true,
              "shortform": "lead",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            },
            {
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "The person currently coordinating the incident",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
              "lead_role": true,
              "name": "Incident Lead",
              "required": true,
              "shortform": "lead",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "required": ["incident_roles"]
      },
      "IncidentRolesShowResponseBody": {
        "title": "IncidentRolesShowResponseBody",
        "type": "object",
        "properties": {
          "incident_role": {
            "$ref": "#/components/schemas/IncidentRoleResponseBody"
          }
        },
        "example": {
          "incident_role": {
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "The person currently coordinating the incident",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "instructions": "Take point on the incident; Make sure people are clear on responsibilities",
            "lead_role": true,
            "name": "Incident Lead",
            "required": true,
            "shortform": "lead",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        },
        "required": ["incident_role"]
      },
      "IncidentsCreateRequestBody": {
        "title": "IncidentsCreateRequestBody",
        "type": "object",
        "properties": {
          "custom_field_entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomFieldEntryPayloadRequestBody"
            },
            "description": "Set the incident's custom fields to these values",
            "example": [
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "values": [
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "values": [
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "values": [
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              },
              {
                "custom_field_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "values": [
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  },
                  {
                    "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_link": "https://google.com/",
                    "value_numeric": "123.456",
                    "value_option_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "value_text": "This is my text field, I hope you like it"
                  }
                ]
              }
            ]
          },
          "idempotency_key": {
            "type": "string",
            "description": "Unique string used to de-duplicate incident create requests",
            "example": "alert-uuid"
          },
          "name": {
            "type": "string",
            "description": "Explanation of the incident",
            "example": "Our database is sad"
          },
          "severity_id": {
            "type": "string",
            "example": "Laborum est necessitatibus eveniet quia aut."
          },
          "visibility": {
            "type": "string",
            "description": "Whether the incident is public or private",
            "example": "public",
[...]
